.container-home{
    position: relative;
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;

    gap: 50px;
    align-items: center;
    background: aqua;
}

.box-complete{
    width: 50%;
    height: 60px;
    background: white;
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    align-items: center;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.8);
}

.box-complete .pais{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 60%;
}

.box-complete input{
    border: none;
}

.search-button{
    display: flex;
    margin-right: 20px;
    height: 60%;
    width: 150px;
    align-items: center;
    background: rgb(203, 147, 255);
    color: white;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}

.search-button .lupa{
    width: auto;
    height: 100%;
}

.countries-search{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 1530px){
    .countries-search{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 1210px){
    .countries-search{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}


@media (max-width: 1140px){
    .box-complete{
        width: 70%;
    }
    
}



@media (max-width: 670px){
    .countries-search{
        grid-template-columns: repeat(1, 1fr);
    }

    .box-complete{
        width: 90%;
    }
}

@media (max-width: 520px){
    .search-button{
        width: 25%;
    }
    
    .search-button .lupa{
        width: 40px;
        height: 100%;
    }
}

@media (max-width: 480px){
    .search-button{
        width: 30%;
    }
    
}

@media (max-width: 450px){
    .search-button{
        width: 40%;
    }
    
}

@media (max-width: 420px){
    .buscar{
        display: none;
    }

    .search-button{
        width: 15%;
    }
    .search-button .lupa{
        position: relative;
    }
    
}


@media (max-width: 370px){


    .search-button{
        width: 15%;
    }

    
}