.popup-filter{
    position: fixed;
    top: 12%;
    left: 36%;
    width: 40%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 60px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.8);

}

.popup-filter .popup-head{
    display: flex;
    height: 10%;
    width: 85%;
    justify-content: space-between;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    cursor: pointer;
}

.popup-filter .popup-head .pop-filtro-limpiar{
    color: rgb(189, 118, 255);
}

.popup-filter .continents{
    position: relative;
    display: grid;
    height: 80%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.popup-filter .continents .continent{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    width: 150px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    cursor: pointer;
}

.click{
    border: 2px solid;
}

.popup-filter .continents .continent img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 1300px){
    .popup-filter{
        top: 13%;
        left: 31%;
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 1100px){
    .popup-filter{
        left: 28%;
        width: 60%;
        height: 50%;
    }

    
}

@media (max-width: 850px){
    .popup-filter .continents{
        width: 95%;
    }

    .popup-filter .continents .continent{

        width: 130px;

    }
}

@media (max-width: 740px){

    .popup-filter .continents .continent{

        width: 120px;

    }
}


@media (max-width: 694px){

    .popup-filter .continents .continent{

        width: 110px;
        height: 150px;

    }

    .popup-filter{
        height: 43%;
    }
}

@media (max-width: 615px){

    .popup-filter{
        left: 23%;
        width: 70%;
    }
}

@media (max-width: 615px){

    .popup-filter{
        left: 23%;
        width: 73%;
    }
}

@media (max-width: 510px){

    .popup-filter .continents .continent{

        width: 100px;
        height: 130px;

    }
}

@media (max-width: 480px){

    .popup-filter .continents .continent{

        width: 100px;
        height: 130px;

    }

    .popup-filter{
        height: 38%;
    }
}

@media (max-width: 475px){

    .popup-filter .continents{

        grid-template-columns: repeat(2, 1fr);


    }

    .popup-filter{
        height: 55%;
    }
}

@media (max-width: 445px){

    .popup-filter .popup-head{
        font-size: 20px;
    }
}

@media (max-width: 375px){

    .popup-filter .popup-head{
        font-size: 20px;
    }
}

@media (max-width: 375px){

    .popup-filter .popup-head{
        font-size: 20px;
    }
}

@media (max-height : 890px){
    .popup-filter{
        top: 14%;
        height: 60%;

    }
}

@media (max-height : 780px){
    .popup-filter{
        top: 18%;
        height: 70%;
    }
}

@media (max-height : 690px){
    .popup-filter{
        top: 18%;
        height: 70%;

    }
}

@media (max-height : 666px){
    .popup-filter{
        top: 20%;
        height: 80%;
    }
}

@media (max-height : 544px){
    .popup-filter{
        top: 22%;
        height: 80%;
    }
}